<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bigyó</title>
</head>
<body>
    <h1>
        hello world! Ez a kedvenc szamom: {{ a }}
    </h1>
    Ez pedig az összes kérdés:

    <ul>
        
        {% for kerdes in kerdesek2 %}
            <li>{{kerdes.kerdes}} ({{kerdes.helyesvalasz}})</li>
            <li>{{kerdes}}</li>
        {% endfor %}
            
    </ul>
</body>
</html>