<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bigyó</title>
</head>
<body>
    <h1>
        hello world! Ez a kedvenc szamom: {{ a }}
    </h1>
    Ez pedig az összes kérdés:

    <ul>
        
        {% for kerdes in kerdesek2 %}
            <li>{{kerdes.kerdes}} ({{kerdes.helyesvalasz}})</li>
            <li>{{kerdes}}</li>
        {% endfor %}
            
    </ul>
</body>
</html>-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <!-- HTML comment-->

    {# ez egy django comment #}

    {%comment%}
    hello
    {%endcomment%}
</head>
<body>
    <h1>Helló</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="kedvencszo" id="">
        <input type="password" name="jelszo" id="">
        <input type="number" name="szam" id="">
        <textarea name="" id="" cols="30" rows="10">Ez egy hosszu szoveg</textarea>
        <select name="valasztas" id="">
            <option value="elso1">elso valasztas 1</option>
            <option value="elso2">elso valasztas 2</option>
            <option value="elso3">elso valasztas 3</option>
        </select>
        <input type="checkbox" name="checkbox" id="">
        <button type="submit">Küld</button>
    </form>

    <ul>
        {% for kerdes in kerdesek in  %}
            
        {% endfor %}
    </ul>

</body>
</html>